{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    Auteur: {{ comment.author }}<br />
    Courrel: {{ comment.email }}<br />
    État: {{ comment.state }}<br />

    <p>
        {{ comment.text }}
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('review_comment', { id: comment.id }) }}">Accepter</button>
    <button href="{{ url('review_comment', { id: comment.id, reject: true }) }}">Rejeter</button>
{% endblock %}